<%= render "/current_user_heding" %>
<%= link_to "New Post", new_user_post_path(@user), class:'link' %>
<div class='flex_block_row'>
  <p>Bio:<br>
    <%= @user.bio%></p>
</div>
<% @three_posts.each do |post| %>
  <ul class='flex_block_row'>
    <li>Post <%= post.id %> </li>
    <li>
      <h3><%= post.title %></h3>
      <p><%= post.text%></p>
    </li>
    <li>Likes:<%= post.likes_counter%></li>
    <li>Comments:<%= post.comments_counter%></li>
  </ul>
<% end %>
<a href='<%= @user.id %>/posts'>
  <p class='flex_block_row'>See all posts</p>
</a>
