<%= render "/current_user_heding" %>
<% flash.each do |type, msg| %>
  <div class='flex_block_row'>
    <%= msg %>
  </div>
<% end %>
<h2 class='post_heading'>Post <%= @post.id %></h2>
<ul class='flex_block_row'>
  <li>
    <h3><%= @post.title %></h3>
    <p><%= @post.text%></p>
  </li>
  <li>Likes:<%= @post.likes_counter%></li>
  <li>Comments:<%= @post.comments_counter%></li>
</ul>
<%= form_with model: [@user, @post, @like]  do |form| %>
  <%= form.submit "Like"%>
<% end %>
<h3 class='comments_heading'>Comments:</h3>
<%= link_to "New Comment", new_user_post_comment_path(@user, @post), class:'link' %>
<% @comments.each do |comment| %>
  <ul class='comment_list'>
    <li><%= comment.text %></li>
    <li>Added on:<%= comment.created_at%></li>
  </ul>
<% end %>
