<%= render "/current_user_heding" %>
<h2 class='post_heading'>Post <%= @post.id %></h2>
<ul class='flex_block_row'>
  <li><%= @post.title %><br>
    <%= @post.text%></li>
  <li>Likes:<%= @post.likes_counter%></li>
  <li>Comments:<%= @post.comments_counter%></li>
</ul>
<%= form_with model: [@user, @post, @like]  do |form| %>
  <%= form.submit "Like"%>
<% end %>
<h3 class='comments_heading'>Comments:</h3>
<% @comments.each do |comment| %>
  <ul class='comment_list'>
    <li><%= comment.text %></li>
    <li>Added on:<%= comment.created_at%></li>
  </ul>
<% end %>
