<%= render "/current_user_heding" %>
<h2 class='post_heading'>Post <%= @post.id %></h2>
<ul class='flex_block_row'>
  <li>
    <h3><%= @post.title %></h3>
    <p><%= @post.text%></p>
  </li>
  <li>Likes:<%= @post.likes_counter%></li>
  <li>Comments:<%= @post.comments_counter%></li>
</ul>
<%= form_with model: [@user, @post, @like]  do |form| %>
  <%= form.submit "Like"%>
<% end %>
<% if can? :destroy, @post %>
  <%= form_with model: [@user, @post], method: :delete  do |form| %>
    <%= form.submit "Delete"%>
  <% end %>
<% end %>
<h3 class='comments_heading'>Comments:</h3>
<%= link_to "New Comment", new_user_post_comment_path(@user, @post), class:'link' %>
<% @post.comments.each do |comment| %>
  <ul class='comment_list'>
    <li><%= comment.text %></li>
    <li>Added on:<%= comment.created_at%></li>
    <% if can? :destroy, comment %>
      <%= form_with model: [@user, @post, comment], method: :delete  do |form| %>
        <%= form.submit "Delete"%>
      <% end %>
    <% end %>
  </ul>
<% end %>
